.header{
            background-color: navy;
            color:white;
        }
        .footer{
            background-color: silver;
            color: white;
        }
        .container{
            margin: 0px;
        }
        *{
            margin: 0px;
        }